[Service]
ExecStart=/root/mqtt-sensors/chia_recompute_server_processing_time.py
WorkingDirectory=/root/mqtt-sensors

[Install]
WantedBy=default.target
