[Service]
ExecStart=/root/mqtt-sensors/cpu_package_power.py
WorkingDirectory=/root/mqtt-sensors
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
