[Service]
Environment=SWITCH_UNIT=%i
ExecStart=/root/mqtt-sensors/systemd_unit_switch.py
WorkingDirectory=/root/mqtt-sensors
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
